body {
    padding: 20px;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    overflow-y: scroll;
}

h1 {
    font-size: 32px;
    line-height: 40px;
    margin: 0px;
    text-align: center;
    padding-bottom: 10px;
}

h2 {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}

p, ul li, ol li {
    line-height: 25px;
}

p i, li i {
    vertical-align: inherit !important;
    margin-bottom: -1px !important;
    line-height: 25px !important;
}

#navigation {
    padding-bottom: 20px;
    text-align: center;
}
#navigation a {
    color: #808080;
}
#navigation .element.active {
    color: #404040;
    text-decoration: underline;
}
#navigation .element {
    margin: 0 2px;
}

body#home ul#networks {
    list-style: none;
    margin: 10px auto 0;
    text-align: center;
}
body#home ul#networks li {
    display: inline-block;
    padding: 5px;
}
body#home ul#networks a {
    color: black;
    text-decoration: none;
}
body#home ul#networks a:hover {
    color: #0088cc;
}

body#courses ul {
    list-style-type: none;
}
