@lightgrey: #adadad;
@grey: #808080;
@darkgrey: #404040;
@white: #eeeeee;

body {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    overflow-y: scroll;
}

h1 {
    font-size: 32px;
    line-height: 40px;
    font-weight: bold;
    margin: 0px;
    text-align: center;
}

h2 {
    font-size: 18px;
    line-height: 25px;
    font-weight: bold;
    margin: 0 0 10px;
    text-align: center;
}

h3 {
    font-size: 16px;
    line-height: 25px;
    font-weight: bold;
}

@media (max-width: 767px) {
    p {
        text-align: center;
    }
}

p, ul {
    margin-bottom: 10px;
}

p, ul li, ol li {
    line-height: 25px;
}

p i, li i {
    vertical-align: inherit !important;
    margin-bottom: -1px !important;
    line-height: 25px !important;
}

.callout {
    border: 1px solid @lightgrey;
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 20px;
}

section {
    margin: 20px auto;
    padding: 20px 0 0;
    border-top: 1px solid @white;
    .section-head {
        margin-bottom: 10px;
        h2 {
            margin-bottom: 0;
        }
        p {
            margin-bottom: 0;
            text-align: center;
            color: @darkgrey;
            font-size: 14px;
        }
    }
}

.technologies {
    text-align: center;
    margin: -5px auto 10px;
    line-height: 29px;
    .label {
        margin: 5px;
        background-color: @lightgrey;
    }
}

#navigation {
    text-align: center;
    a {
        color: @grey;
    }
    .element {
        margin: 0 2px;
        &.active {
            color: @darkgrey;
            text-decoration: underline;
        }
    }
}

body#home #links {
    text-align: center;
    margin: 0 auto;
    #links a {
        font-size: 16px;
        margin: auto 8px;
        padding: 3px 12px;
        i {
            margin-right: 5px;
        }
    }
}

body#education ul {
    list-style-type: none;
}

h1, .panel, .intro, #navigation, body#home #links {
    margin-bottom: 20px;
}
